@using global::Illusive.Utility
@using global::Illusive.Database
@inject IAccountService AccountService
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/js/site.js"></script>

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://illusive.azurewebsites.net/"/>
    <meta property="og:image" content="https://illusive.azurewebsites.net/favicon.ico"/>

    <meta property="og:title" content="@ViewData["Title"]"/>
    <meta property="og:description" content="@ViewData["Description"]"/>

    <meta name="theme-color" content="#DEEBFF">
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=0, user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>@ViewData["Title"] - Illusive</title>

    <link rel="stylesheet" href="~/css/site.css" id="theme-link" as="style"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

    <script type="module" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="module" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script type="text/javascript">
        let theme = Cookies.get("theme");
        if(theme === undefined){
            theme = "lighttheme";
        }
        
        setTheme(theme);
        
        window.addEventListener("load", () => {
            const toggle = $(".darkmode-toggle");
            toggle.prop('checked', theme === 'darktheme');
        });
    </script>
</head>
<body>
<header>
    @{
        var user = AccountService.GetAccountWhere(x => x.Id == this.User.GetUniqueId());
    }
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-color border-page-bottom box-shadow-bottom mb-3">
        <div class="container">
            <a class="navbar-title" asp-area="" asp-page="/Index">Illusive</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Forum">Forum</a>
                    </li>

                    @if ( this.User.IsLoggedIn() ) {
                        <div float="right">
                            <a class="nav-link" asp-area="" asp-page="/Account">Account</a>
                        </div>
                    } else {
                        // Logged-out specific headings here
                    }
                </ul>
            </div>

            @if ( this.User.IsLoggedIn() ) {
                <details class="account-dropdown-button details-animated noselect">
                    <summary>
                        <span><img style="height: 25px; width: 25px; border-radius: 50px;" src="@user.ProfilePicture" alt=""/></span>
                        @user.AccountName
                    </summary>
                    <details-menu class="account-dropdown-details">
                        <a href="/Account"><button class="button account-dropdown-elem" style="width: 100%;">My Profile</button></a>
                        <a href="/Logout"><button class="button account-dropdown-elem" style="width: 100%;">Sign out</button></a>
                    </details-menu>
                </details>
            } else {
                <details class="account-dropdown-button details-animated noselect">
                    <summary>Signed out</summary>
                    <details-menu class="account-dropdown-details">
                        <a href="/Login"><button class="button account-dropdown-elem" style="width: 100%;">Sign in</button></a>
                        <a href="/Signup"><button class="button account-dropdown-elem" style="width: 100%;">Sign up</button></a>
                    </details-menu>
                </details>
            }
            <br/>
        </div>
        
        <p style="text-align: center; display: contents">Dark Mode:</p>
        <div style="float: right;">
            <label class="switch">
                <input type="checkbox" class="darkmode-toggle" onclick="DarkModeToggle()" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-page-top footer text-muted navbar-color shadow-lg">
    <div class="container" style="text-overflow: clip">
        &copy; 2020 - <a href="https://github.com/pippinmole/" target="_blank">pippin_mole</a> - <a asp-area="" asp-page="/Privacy">Privacy</a> - <a href="https://github.com/pippinmole/Illusive" target="_blank">Open Source</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
