@using global::Illusive.Illusive.Core.Database.Interfaces
@using global::Illusive.Utility
@using Humanizer
@model Models.AccountData
@inject INotificationService NotificationService

@{
    var user = this.Model;
    var notifications = await this.NotificationService.GetUnreadNotificationsForUserAsync(user);
}

<style type="text/css">
    .notifContainer {
        background-color: var(--container-colour-secondary) !important;
        
        width: 100%; 
        min-height: 50px;
        margin-bottom: 4px;
        padding: 6px;
        display: inline-flex;
    }
    
    .notifContainer:hover {
        background-color: var(--container-colour-primary) !important;
    }
    
    .notifIcon {
        filter: var(--invert-colors);
    }
</style>

<details class="account-dropdown-button details-animated noselect">
    <summary class="nosummarytriangle">
        <span style="display: inline-block; height: 25px; width: 25px; position: relative;">
            <img class="notifIcon" style="border-radius: 50px; width:90%; height:90%; right: 0; top: 0" src="https://illusivecdn.blob.core.windows.net/container-1/notification-icon.png" alt=""/>
            @if ( notifications?.Count != 0 ) {
                <div style="background-color: red; height: 10px; width: 10px; top: 0; position: absolute;right: 0; border-radius: 99px;"></div>
            }
        </span>
    </summary>
    <details-menu class="account-dropdown-details" style="min-height: 200px; min-width: 350px">
        @if ( notifications != null ) {
            foreach ( var notif in notifications ) {
                if ( string.IsNullOrEmpty(notif.Link) ) {
                    <div class="notifContainer">
                        <img style="height: 30px; width: 30px;" src="@notif.ImageUrl" alt="">
                        <span style="margin-left: 5px">
                            <div style="font-size: 0.8rem">
                                @notif.Content
                            </div>
                            <div style="font-size: 0.6rem">
                                <i>@notif.TimeCreated.TimeSince().Humanize() ago</i>
                            </div>
                        </span>
                    </div>
                } else {
                    <a href="@notif.Link">
                        <div class="notifContainer">
                            <img style="height: 30px; width: 30px;" src="https://illusivecdn.blob.core.windows.net/container-1/f27a7d05-2151-40e1-9bb7-6dfa879a1d89Greg_Heffley_Based_On.png" alt="">
                            <span style="margin-left: 5px">
                                <div style="font-size: 0.8rem">
                                    @notif.Content
                                </div>
                                <div style="font-size: 0.6rem">
                                    <i>@notif.TimeCreated.TimeSince().Humanize() ago</i>
                                </div>
                            </span>
                        </div>
                    </a>
                }
            }
        }
    </details-menu>
</details>