@page "/Account/{id?}"
@inject IAccountService AccountService
@inject IForumService ForumService
@using global::Illusive.Database
@using global::Illusive.Utility
@using Humanizer
@model AccountModel
@{
    ViewData["Title"] = "Account";
    ViewData["Description"] = "Account";
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="~/lib/bootstrap-filestyle.min.js"> </script>

    <style type="text/css"> 
        .change-profile-button {
            cursor: default;
        }
        .change-profile-button:hover {
            cursor: pointer;
        }
        
        .change-profile-container {
            position: absolute;
            border-radius: 15px;
            background-color: var(--container-colour-third);
            width: 500px;
            padding: 20px;
            margin: 5px;
            font-style: inherit;
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
            display: none; /*Disable by default*/
        }
        
        .profile-posts-container {
            margin: 10px 0;
            padding: 5px 20px;
        }
        
        /* Style the tab */
        .tab {
          overflow: hidden;
          border: 1px solid #ccc;
          background-color: #f1f1f1;
        }
        
        /* Style the buttons inside the tab */
        .tab button {
          background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
        }
        
        /* Change background color of buttons on hover */
        .tab button:hover {
          background-color: #ddd;
        }
        
        /* Create an active/current tablink class */
        .tab button.active {
          background-color: #ccc;
        }
        
        /* Style the tab content */
        .tabcontent {
          display: none;
          padding: 6px 12px;
          border: 1px solid #ccc;
          border-top: none;
        }
        
    </style>

    <script type="text/javascript">    
        function changeProfileToggle() {
            $(".change-profile-container").fadeToggle();
        }
    </script>
    
    <script>
    function OpenListItem(cityName) {
        const tabcontent = document.getElementsByClassName("tabcontent");
        for (let i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        
        const tablinks = document.getElementsByClassName("tablinks");
        for (let i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
                      
        document.getElementById(cityName).style.display = "block";
        // evt.currentTarget.className += " active";
    }
    
    window.addEventListener("load", () => {
        OpenListItem("Posts"); 
    });
    </script>

</head>
<body>

@{ 
    var accountId = (string)this.HttpContext.Request.RouteValues["id"];
    var user = AccountService.GetAccountWhere(x => x.Id == accountId);
    var isMyAccount = this.User.GetUniqueId() == user.Id;
}

<div asp-validation-summary="All" class="text-danger"></div>

<div style="display: inline-flex; width: 100%; border-bottom: 1px solid grey;">
    <img src="@user.ProfilePicture" style="width: 50px; height: 50px" alt=""/>
    <div>
        <h4 style="padding-left: 16px; margin: auto">
            @if ( user.IsAdmin ) {
                <span style="color: red; font-size: 12px">[Admin]</span>
            }
            @user.AccountName
            <span style="font-size: 15px"> - @user.Id</span>

            @if ( isMyAccount ) {
                <img class="change-profile-button" onclick="changeProfileToggle()" src="https://illusivecdn.blob.core.windows.net/container-1/icon_settings.png" style="height: 15px; width: 15px; margin-left: 20px; align-self: center;" alt=""/>
            }
        </h4>
        
        @* Profile Biography *@
        <p style="padding-left: 16px; padding-bottom: 10px; font-style: italic; font-size: 11px">
            @user.Bio
        </p>
    </div>
</div>

@* Profile changing settings *@
<div class="change-profile-container">
    <h4 class="text-center">Change profile settings</h4>
    <form enctype="multipart/form-data" method="post">
        <input asp-for="AccountUpdate.Bio" class="input-field" style="margin-bottom: 10px" type="text" placeholder="What's on your mind?">
        Change your profile picture <input asp-for="AccountUpdate.ProfilePicture" class="filestyle" type="file" accept="image/*"> <br/>

        <input asp-page-handler="Upload" class="button" type="submit" value="Update"/>
    </form>
</div>

@* Profile post history *@
<div class="profile-posts-container">
    
    <div class="tab">
      <button class="tablinks" onclick="OpenListItem('Posts')">Posts</button>
      <button class="tablinks" onclick="OpenListItem('LikedPosts')">Liked Posts</button>
    </div>
    
    <div id="Posts" class="tabcontent">
       @foreach ( var forum in ForumService.GetForumsWhere(x => x.OwnerId == user.Id) ) {
              <div class="message">
                  <span class="forum-stats">
                      <div class="forum-stat-elem">
                          <img height="15px" width="15px" src="https://illusivecdn.blob.core.windows.net/container-1/like_button_checked.png" alt="Likes"/>
                          <span style="margin: 3px">@forum.Likes.Count</span>
                      </div>
                                      
                      <div class="forum-stat-elem">
                          <img height="10px" src="~/img/forum-views.png" alt="Views"/>
                          <span style="margin: 3px">@forum.Views</span>
                      </div>
      
                      <div class="forum-stat-elem">
                          <img height="10px" src="~/img/forum-replies.png" alt="Replies"/>
                          <span style="margin: 3px">@forum.Replies.Count</span>
                      </div>
                  </span>
      
                  <div class="image"><a href="/Account/@user.Id"><img src="@user.ProfilePicture" style="height: 25px; max-width: 25px;" alt=""/></a></div>
                  <div class="additionalInfo">Created @forum.TimeCreated.ToString("MMMM dd, yyyy") (@forum.TimeCreated.TimeSince().Humanize() ago)</div>
                  <div class="user"><a href="/Account/@user.Id">[@user.AccountName]</a> <a asp-page="/ForumPost" asp-route-id="@forum.Id"> @forum.Title </a></div>
                  @if ( forum.Tags != null ) {
                      foreach ( var tag in forum.Tags.Split(',') ) {
                          <div class="forumTag noselect">@tag</div>
                      }
                  }
              </div>
          }
    </div>
    
    <div id="LikedPosts" class="tabcontent">
      <h3>Liked Posts</h3>
      <p>ADD LIST OF LIKED POSTS.</p> 
    </div>
</div>

</body>
</html>