@page "/user/change"
@using global::Illusive.Utility
@using global::Illusive.Illusive.Core.User_Management.Interfaces
@inject IAppUserManager UserManager
@model AccountChangeModel
@{
    ViewData["Title"] = "Homepage";
    ViewData["Description"] = "Home Page";

    var user = await UserManager.GetUserByIdAsync(User.GetUniqueId());
}

@section Scripts {
    <script src="~/js/Account/requests.js"></script>
}

<div class="w-100 mt-2">
    <h4 class="text-center">Change profile settings</h4>
    <form enctype="multipart/form-data" method="post" class="w-50 m-auto">
        <div class="form-group">
            <label for="info-bio" class="col-xs-2 control-label">What's on your mind?</label>
            <input type="text" asp-for="AccountUpdate.Bio" id="info-bio" class="form-control mb-4" value="@user.Bio">
        </div>

        <div class="custom-file mb-3">
            <input type="file" asp-for="AccountUpdate.ProfilePicture" class="custom-file-input" id="profileFile" accept="image/*">
            <label class="custom-file-label" for="profileFile">Profile Picture</label>
        </div>
        
        <div class="custom-file mb-3">
            <input type="file" asp-for="AccountUpdate.CoverPicture" class="custom-file-input" id="coverPicture" accept="image/*">
            <label class="custom-file-label" for="coverPicture">Profile Cover Picture</label>
        </div>
        
        <div class="form-group">
            <label for="info-location" class="col-xs-2 control-label">Location</label>
            <input type="text" asp-for="AccountUpdate.Location" id="info-location" class="form-control mb-4" value="@user.Location">
        </div>

        <h5>Social Media</h5>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">@SocialMediaConstants.GithubUserUrl</span>
            </div>
            <input type="text" class="form-control" id="basic-url" asp-for="AccountUpdate.GithubUrl" aria-describedby="basic-addon3" value="@user.GithubUrl">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">@SocialMediaConstants.TwitterUserUrl</span>
            </div>
            <input type="text" class="form-control" id="basic-url" asp-for="AccountUpdate.TwitterUrl" aria-describedby="basic-addon3" value="@user.TwitterUrl">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">@SocialMediaConstants.RedditUserUrl</span>
            </div>
            <input type="text" class="form-control" id="basic-url" asp-for="AccountUpdate.RedditUrl" aria-describedby="basic-addon3" value="@user.RedditUrl">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">@SocialMediaConstants.SteamUserUrl</span>
            </div>
            <input type="text" class="form-control" id="basic-url" asp-for="AccountUpdate.SteamUrl" aria-describedby="basic-addon3" value="@user.SteamUrl">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">@SocialMediaConstants.LinkedinUserUrl</span>
            </div>
            <input type="text" class="form-control" id="basic-url" asp-for="AccountUpdate.LinkedInUrl" aria-describedby="basic-addon3" value="@user.LinkedinUrl">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Api Key</span>
            </div>
            <input type="text" class="form-control disabled" value="@user.ApiKey" readonly>
        </div>
        
        <button class="p-1 m-2 btn-primary w-100" type="submit" asp-page-handler="Upload">Update</button>
        <button class="p-1 m-2 btn-danger w-100" type="button" onclick="DeleteAccount('@user.Id')">Delete Account</button>
        @Html.AntiForgeryToken()
    </form>
</div>