@page
@using Humanizer
@using global::Illusive.Illusive.Database.Interfaces
@using global::Illusive.Illusive.Utilities
@using global::Illusive.Illusive.Authentication.Utility
@inject IAccountService AccountService
@model ForumModel
@{
    ViewData["Title"] = "Forum";
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script type="text/javascript">
        window.addEventListener("load", () => {
            const orderBy = $(".order-by");
            const queryString = window.location.search;
            const newVal = "./Forum" + queryString;
            
            orderBy.val(newVal);
        });
    </script>
</head>
<body>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    @if ( !this.User.IsLoggedIn() ) {
        <div><a href="/Login">Login</a> or <a href="/Signup">Sign up</a> to create a post!</div>
    } else {
        <div><a href="/CreatePost">Create a post!</a></div>
    }
</div>

<select class="order-by" onChange="window.location.href=this.value" style="margin: auto; background-color: var(--container-colour-secondary); padding: 5px; border: none; border-radius: 5px; color: inherit">
    <option value="./Forum?orderby=views">Order by views</option>
     <option value="./Forum?orderby=date">Order by date created</option>
</select>

<div>
    @foreach ( var forum in await this.Model.GetForums() ) {
        var forumOwner = AccountService.GetAccountWhere(x => x.Id == forum.OwnerId);

        <div class="message">
            <span class="forum-stats">
                <div class="forum-stat-elem">
                    <img height="10px" src="~/img/forum-views.png" alt="Views"/>
                    <span style="margin: 3px">@forum.Views</span>
                </div>

                <div class="forum-stat-elem">
                    <img height="10px" src="~/img/forum-replies.png" alt="Replies"/>
                    <span style="margin: 3px">@forum.Replies.Count</span>
                </div>
            </span>

            <div class="image"><a href="/Account/@forumOwner.Id"><img src="@forumOwner.ProfilePicture" style="height: 25px; max-width: 25px;" alt=""/></a></div>
            <div class="additionalInfo">Created @forum.TimeCreated.ToString("MMMM dd, yyyy") (@forum.TimeCreated.TimeSince().Humanize() ago)</div>
            <div class="user"><a href="/Account/@forumOwner.Id">[@forumOwner.AccountName]</a> <a asp-page="/ForumPost" asp-route-id="@forum.Id"> @forum.Title </a></div>
            @if ( forum.Tags != null ) {
                foreach ( var tag in forum.Tags.Split(',') ) {
                    <div class="forumTag noselect">@tag</div>
                }
            }
        </div>
    }
</div>

<br><br>

</body>
</html>