@page "{text?}"
@using Humanizer
@using global::Illusive.Illusive.Database.Interfaces
@inject IAccountService AccountService
@model ForumModel
@{
    ViewData["Title"] = "Forum";
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>        
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            height: 50px;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
        }
        
        .collapsible:after {
          content: '\02795'; /* Unicode character for "plus" sign (+) */
          font-size: 13px;
          color: white;
          float: right;
          margin-left: 5px;
        }
        
        .active:after {
          content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
        
        .active, .collapsible:hover {
          background-color: #555;
        }
        
        .forumContent {
          display: none;
          overflow: hidden;
          background-color: #f1f1f1;
          border-bottom-left-radius: 7px;
          border-bottom-right-radius: 7px;
          padding: 0 18px 15px;
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
        }
        
        .preview-content-button {
            
        }
        
        .preview-content-content {
          width: 100%;
          display: -webkit-flex;
          padding: 15px;
          border: none;
          border-radius: 6px;
          margin-top: 10px;
          background: #dddddd;
        }
    </style>

    <script type="text/javascript">
        window.addEventListener("load", (event) => {
            const coll = document.getElementsByClassName("collapsible");           
            for (let i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    const content = this.nextElementSibling;
                    if (content.style.display === "block") {
                       content.style.display = "none";
                    } else {
                       content.style.display = "block";
                    }
                });
            }     
        });
    </script>

    <script type="text/javascript">
        window.addEventListener("load", (event) => {
            let previewButton = $(".preview-content-button");
            $(".preview-content-content").toggle(false);
            
            previewButton.click(() => {
                let previewContent = $(".preview-content-content");
                let previewText = $(".input-field-forum-content").val();
                
                previewContent.toggle();
                previewContent.html(previewText);
            });
        });
    </script>
    
    <script type="text/javascript">
        window.addEventListener("load", (event) => {
            let forumTitleInput = $("#forum-title-input")[0];
            let forumTitleHeading = $("#forum-title-heading")[0];
            if (forumTitleInput != null) {
                forumTitleInput.oninput = () => {
                    let length = forumTitleInput.value.length;
                    let maxLength = forumTitleInput.maxLength;
                    forumTitleHeading.innerHTML = "Forum Title: " + ((maxLength - length) + "/" + maxLength + " characters remaining.");
                };
            }
            
            let forumContentInput = $("#forum-content-input")[0];
            let forumContentHeading = $("#forum-content-heading")[0];
            if (forumContentInput != null) {
                forumContentInput.oninput = () => {
                    let length = forumContentInput.value.length;
                    let maxLength = forumContentInput.maxLength;
                    forumContentHeading.innerHTML = "Content: " + ((maxLength - length) + "/" + maxLength + " characters remaining.");
                };
            }
        });
    </script>
    
</head>
<body>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    
    @if ( !this.User.Identity.IsAuthenticated ) {
        <div class=""><a href="/Login">Login</a> or <a href="/Signup">Sign up</a> to create a post!</div>
    }
</div>

@{
    if ( this.User.Identity.IsAuthenticated ) {
        <button type="button" class="collapsible">Create a post</button>
        <div class="collapsible-content">
            <button class="preview-content-button">Preview</button>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div id="forum-title-heading"> Forum Title: </div><input class="input-field" id="forum-title-input" asp-for="ForumData.Title" placeholder="Forum Title"/><br/>
                <div id="forum-content-heading"> Content: </div><div style="float:right">(Is Markdown): <input type="checkbox" asp-for="ForumData.IsMarkdown" /></div><br /><textarea type="text" class="input-field-forum-content" id="forum-content-input" rows="4" cols="50" asp-for="ForumData.Content" placeholder="Enter your blog content here"></textarea>
                <div id="forum-content-heading"> Tags (separate by comma): <input class="input-field" type="text" asp-for="ForumData.Tags" /></div><br />
                <input type="submit" value="Create Post" />
                @Html.AntiForgeryToken()
            </form>
                
            <div class="preview-content-content">
                @*Leave empty for preview code to be filled here*@
            </div>
        </div>
    }
}

<div>
    @foreach ( var forum in await this.Model.GetForums() ) {
        var forumOwner = AccountService.GetAccountWhere(x => x.Id == forum.OwnerId);
        
        <div class="message">
            <span class="forum-stats">
                <div class="forum-stat-elem">
                    <img height="10px" src="img/forum-views.png" alt="Views"/> 
                    <span style="margin: 3px">@forum.Views</span>
                </div>
                
                <div class="forum-stat-elem">
                    <img height="10px" src="img/forum-replies.png" alt="Replies"/> 
                    <span style="margin: 3px">@forum.Replies.Count</span>
                </div>
            </span>
            
            <div class="image"><img src="@forumOwner.ProfilePicture" style="height: 25px; max-width: 25px;" alt=""/></div>
            <div class="user">
                <a asp-page="/ForumPost" asp-route-id="@forum.Id" style="padding-right:13px">@AccountService.GetAccountWhere(x=>x.Id == forum.OwnerId).AccountName / @forum.Title </a>
                @if ( forum.Tags != null ) {
                    foreach ( var tag in forum.Tags.Split(',') ) {
                        <div class="forumTag noselect">@tag</div>
                    }
                }
            </div>
            <div style="clear:both;"></div>
            <div class="additionalInfo">Created @forum.TimeCreated.Date.ToString("MMMM dd, yyyy") (@DateTime.Now.Subtract(forum.TimeCreated.Date).Humanize())</div>
        </div>
    }
</div>

<br><br>

</body>
</html>