@page
@using Westwind.AspNetCore.Markdown
@model ForumPost
@{
    ViewData["Title"] = this.Model.ForumPostData.Title;
}

<!DOCTYPE html>

<html>
<head>
    <title>@this.Model.ForumPostData.Title</title>
    
    <style type="text/css">
        
        #commentField {
         width: 390px; 
         border: 1px solid #999999; 
         padding: 5px;
        }
        
        .forumTitle {
            margin-top: 25px;
        }
        
        .forumContent {
            background-color: #f1f1f1;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: 15px;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
            margin-top: 30px;
            margin-bottom: 30px;
            word-wrap: break-word;
        }
        
    </style>
</head>
<body>
<div>
    <h3 class="forumTitle">@this.Model.ForumPostData.Title</h3>
    <div class="forumContent">
        @{
            var isMarkup = this.Model.ForumPostData.IsMarkdown;
            if ( isMarkup ) {
                <p>
                    @Markdown.ParseHtmlString(this.Model.ForumPostData.Content)
                </p>
            } else {
                <p>
                    @this.Model.ForumPostData.Content
                </p>
            }
        }
    </div>

    @{
        var replies = this.Model.ForumPostData.Replies;
        foreach ( var reply in replies ) {
            <div>@reply.Content</div>
        }
    }

    @{
        if ( this.User.Identity.IsAuthenticated ) {
            <h3>Comments</h3>

            <form method="post">
                Reply: <input id="commentField" asp-route-id="@this.Model.ForumPostData.Id" asp-for="ForumReply.Content" value=""/><br/>
                <button type="submit">Comment on this</button>
            </form>
        }
    }
</div>
</body>
</html>