@page
@using Westwind.AspNetCore.Markdown
@using Humanizer
@using global::Illusive.Illusive.Database.Interfaces
@inject IAccountService AccountService
@model ForumPost
@{
    ViewData["Title"] = this.Model.ForumPostData.Title;
}

<!DOCTYPE html>

<html>
<head>
    <title>@this.Model.ForumPostData.Title</title>
    
    <style type="text/css">
        
        .commentField {
            width: 390px; 
            border: 1px solid #999999; 
            padding: 5px;
            margin: 10px 0;
        }
        
        .forumTitle {
            margin-top: 25px;
        }
        
        .forumContent {
            background-color: #f1f1f1;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: 15px;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
            word-wrap: break-word;
            width: 100%;
        }
        
        .forumBody {
            width: 100%;
            display: inline-flex;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .replyBody {
            width: 100%;
            display: inline-flex;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
        }
        
        .replyContent {
            background-color: #f1f1f1;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: 15px;
            word-wrap: break-word;
            width: 100%;
        }
    </style>
</head>
<body>

@{
    var forumOwner = AccountService.GetAccountWhere(x => x.Id == this.Model.ForumPostData.OwnerId);
}

<div>
    <span style="display: block ruby; padding-bottom: 8px; border-bottom: 1px solid black">
        <h3 class="forumTitle">@this.Model.ForumPostData.Title</h3>
        @if ( this.Model.ForumPostData.Tags != null ) {
            foreach ( var tag in this.Model.ForumPostData.Tags.Split(',') ) {
                <div class="forumTag noselect">@tag</div>
            }
        }
    </span>

    <div class="forumBody">
        <div style="width: 100px; height: 100px; background-color: #dfedee; display: grid; text-align: center; border-radius: 4px;">
            <img style="margin: 5px auto auto;height: 40px; width: 40px; border-radius: 25px" src="@forumOwner.ProfilePicture" alt="">
            <p style="font-size: 0.6rem; margin-bottom: 0"> @forumOwner.AccountName </p>
            <p style="font-size: 0.5rem; font-style: italic">Joined @forumOwner.AccountCreated.ToShortDateString()</p>
        </div>

        <div class="forumContent">
            <span style="font-style: italic; font-size: 0.6rem; display: flex; margin-bottom: 10px">Created @this.Model.ForumPostData.TimeCreated.Date.ToString("MMMM dd, yyyy") (@((DateTime.Now - this.Model.ForumPostData.TimeCreated).Humanize()) ago)</span>
            @{    
                var isMarkup = this.Model.ForumPostData.IsMarkdown;
                if ( isMarkup ) {
                    <p>
                        @Markdown.ParseHtmlString(this.Model.ForumPostData.Content)
                    </p>
                } else {
                    <p>
                        @this.Model.ForumPostData.Content
                    </p>
                }
            }
        </div>
    </div>

    <div style="width: 100%; border-bottom: 1px solid black;">
        <h4 style="display: inline-flex">Comments
            @if ( !this.User.Identity.IsAuthenticated ) {
                <div style="font-size: 0.7rem; height: 100%; margin: auto auto auto 5px;">(<a href="/Login">Login</a> or <a href="/Signup">Sign up</a> to comment on a post!)</div>
            }
        </h4>
    </div>
        
    @{
        var replies = this.Model.ForumPostData.Replies;
        foreach ( var reply in replies ) {
            var replyOwner = AccountService.GetAccountWhere(x => x.Id == reply.AuthorId);

            <div class="replyBody">
                <div style="width: 100px; height: 100px; background-color: #ddd; display: grid; text-align: center; border-radius: 4px;">
                    <img style="margin: 5px auto auto;height: 40px; width: 40px; border-radius: 25px" src="@replyOwner.ProfilePicture" alt="">
                    <p style="font-size: 0.6rem; margin-bottom: 0"> @replyOwner.AccountName </p>
                    <p style="font-size: 0.5rem; font-style: italic">Joined @replyOwner.AccountCreated.ToShortDateString()</p>
                </div>

                <div class="replyContent">
                    <span style="font-style: italic; font-size: 0.6rem; display: flex; margin-bottom: 10px">Commented @reply.TimeCreated.ToString("MMMM dd, yyyy") (@((DateTime.Now - reply.TimeCreated).Humanize()) ago)</span>

                    <p>
                        @reply.Content
                    </p>

                </div>
            </div>
        }
    }

    @{
        if ( this.User.Identity.IsAuthenticated ) {
            <form method="post">
                Reply: <input class="commentField" asp-route-id="@this.Model.ForumPostData.Id" asp-for="ForumReply.Content" value=""/><br/>
                <button type="submit">Comment on this</button>
            </form>
        }
    }
</div>
</body>
</html>